<!-- Table for displaying the value set entries. -->
<p class="lead" id="valueSetEntriesTitle"><strong><%= title %></strong></p>

<div class="well" id="loading-indicator-entries" style="display:none">
    <img src="img/loading.gif"/>
    <strong>Loading Value Set Entries...</strong>
</div>

<div id="valueSetEntriesTableDiv">
    <table class="table table-striped table-bordered table-hover table-condensed" id="valueSetEntriesTable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Code System</th>
                <th>Code System Version</th>
            </tr>
        </thead>

        <tbody>
            <% if (data != null) { %>
                <%
                    var codeSystem = "";
                    var codeSystemVersion = "";
                    var resolutionInfo = data.IteratableResolvedValueSet.resolutionInfo;
                    if (resolutionInfo.resolvedUsingCodeSystem.length > 0) {
                        var resolvedUsingCodeSystem = resolutionInfo.resolvedUsingCodeSystem[0];

                        codeSystem = resolvedUsingCodeSystem.codeSystem.content;
                        codeSystemVersion = resolvedUsingCodeSystem.version.content;
                    }
                %>

                <%_.each(data.IteratableResolvedValueSet.entry,function(entry){%>
                    <tr>
                        <td><%= entry.name %></td>
                        <td><%= entry.designation %></td>
                        <td><%= codeSystem %></td>
                        <td><%= codeSystemVersion %></td>
                    </tr>
                <% }); %>
            <% } %>
        </tbody>

    </table>
</div>